li {
    font-size: large;
}
body {
    width: 80%;
    height: 100%;
    margin:  auto;
    padding-top: 50px;
    font-size: medium;
    white-space: nowrap;
}

nav > a {
    margin-right: 10;
}

.hide_elem{
    display: none;  
}

#fixed_form {
    position: fixed;
    border: 1px solid #000;
    background: #fff;
    top: 30%;
    left: 15%;
  }
.close_x{
    float:right;
    background-color:red;
    color:white;
}

/*月間カレンダー用*/
#monthcalendar{
    border: 1px solid #000;
    float:right;
    width:300px;
    border-collapse: collapse;
}
#MCbeforemonth{
    background-color:#d3d3d3;
    border: 1px solid #000;
    width:28px;
}
#MCnextmonth{
    background-color:#d3d3d3;
    border: 1px solid #000;
    width:28px;
}
#monthcalendar .saturday{
    color: blue;
}
#monthcalendar .sunday{
    color: red;
}
#monthcalendar tbody{
    font-size:16px;
}
.MCheader th{
    width:28px;
}
.base_date{
    border: 2px solid #ff0000;
}
.registered{
    background-color:#d3d3d3;
}
/* 予定登録用クラス */
#calendar .date_col{
    border: 1px solid #000;
    background-color: #fff;
    
}
#calendar  .input_caltr{
    border: 1px solid #000;
    height: 20px;
    font-size:14px;
}
#calendar  .headers_time{
    border: 1px solid #000;
    font-size:14px;
}
#calendar .sub_name_cell{
    font-size:10px;
    border: 1px solid #000;
}

#calendar .choice_cell{
    width: 0.8%;
    background:#d9e5ff;
}
#calendar .selecttime{
    background-color: #00bfff;
}
#calendar .not_choice{
    width: 0.8%;
    background:#d3d3d3
}

#calendar  .cal_sche_row{
    border: 1px solid #000;
    font-size:12px
}
#calendar .scale_time{
    border-left: 1px solid #000;
    
}
#calendar .sche_box{
    border: 1px solid #000;
    font-size:12px;
    background-color: #d3d3d3;
}

#calendar .date_col{
    border: 1px solid #000;
    background-color: #fff;
    
}

#calendar{
    border:0px; 
    width:100%;
    border-collapse: collapse;
    user-select: none;
}

#swapcalendar  .headers_time{
    border: 1px solid #000;
    font-size:14px;
    width: 4%;
    height: 40px;
}
#swapcalendar .sub_name_cell{
    font-size:10px;
    border: 1px solid #000;
}

#swapcalendar .choice_cell{
    background:#d9e5ff;
    
}
#swapcalendar .not_choice{
    background:#d3d3d3
}

#swapcalendar .scale_time{
    border-top: 1px solid #000;
    
}
#swapcalendar .sche_box{
    width: 100px;
    border: 1px solid #000;
    font-size:12px;
    background-color: #d3d3d3;
    
}
#swapcalendar td{
    width: 90px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
#swapcalendar .selecttime{
    background-color: #00bfff;
}
#swapcalendar .date_col{
    width: 45px;
    border: 1px solid #000;
    background-color: #fff;
    
}
#swapcalendar{
    border:0px; 
    width: 1000px;
    height:600px;
    border-collapse: collapse;
    user-select: none;

    
}


.flout_stop{
    clear: both;
}
#form_table{
    border:0px; 
    width:100%;
    
}

#schedule_list{
    width:100%;
    border-collapse: collapse;
    
}
#schedule_data{
    display: none;  
}
.year_schedule {
    
    border: 1px solid #000;
    border-collapse: collapse;
}
.year_schedule td,th{
    border: 1px solid #000;
    width: 190px;
}

#working_calendar{
    border: 1px solid #000;
    border-collapse: collapse;
    width:50%;
}
#working_calendar td,th{
    border: 1px solid #000;
}
#working_calendar .selecttime{
    background-color: #00bfff;
}