{% extends 'MonCal/base.html' %}

{% block content %}
<div style="float:left;" >
    {% if schedule %}
        <h1>{{schedule.title}}の内容の変更</h1>
        <h2><a href="{% url 'MonCal:Property_edit' schedule.pk %}">個別編集ページ</a></h2>
        <h3><a href="{% url 'MonCal:Property_detail' schedule.pk %}">スケジュール詳細</a></h3>
    {% else %}
        <h2>{{subject_type}} の新規予約</h2>
        <h2><a href="{% url 'MonCal:all_property_list' subject_type.pk %}">スケジュール一覧へ</a></h2>
    {% endif %}
    <button type="button" id="swap_button">縦横切り替え</button>
</div>
<table  id="monthcalendar" >
    <thead>
        <tr>
            <th id ="MCbeforemonth">先月</th>
            <th id="moncal_cap" colspan="5">{{firstday.year}}年{{firstday.month}}月 </th>
            <th id ="MCnextmonth">来月</th>
        </tr>
        <tr class="MCheader">
            <th >月</th>
            <th >火</th> 
            <th >水</th> 
            <th >木</th> 
            <th >金</th> 
            <th class="saturday">土</th> 
            <th class="sunday">日</th>
        </tr>
    </thead>
    <tbody>
    {% for weekdays in day_list %}
        <tr>
        {% for day in weekdays %}
            {% if day == 0 %}
                <td></td>
            {% else %}
                {% if day == start_day.day and firstday.month == start_day.month and firstday.year == start_day.year  %}
                    <td class="base_date">
                {% else %}
                    <td>
                {% endif %}
                <a href="{% url 'MonCal:all_pr_calendar' subject_type.pk firstday.year firstday.month day %}">{{day}}</a></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}   
    </tbody>
</table>
<br class="flout_stop">

<form  method="POST" id="fixed_form" class="hide_elem">
    <button type="button" class="close_x" >X</button>
    <table border="0" width="100%" table-layout: fixed;>
        <tr>
            <td valign="top" width="33%" >
                {% for field in form %}
                {% if field.id_for_label == 'id_starttime' or field.id_for_label == 'id_endtime' or field.id_for_label == 'id_date'  or field.id_for_label == 'id_cycle_type' or field.id_for_label == 'id_cycle_stopday' %}
                    {% if field.id_for_label == 'id_starttime' %}
                        <p>
                            <button type="button" id="start_up">△</button>
                            <button type="button" id="start_down">▽</button>
                            <span id ="s_timetext">{{field.label}}:</span>
                        </p>
                        <p class ="hide_elem">
                    {% elif field.id_for_label == 'id_endtime' %}
                        <p>
                            <button type="button" id="end_up" >△</button>
                            <button type="button" id="end_down">▽</button>
                            <span id ="e_timetext">{{field.label}}:</span>
                        </p>
                        <p class ="hide_elem" >
                    {% elif  field.id_for_label == 'id_date' or field.id_for_label == 'id_cycle_type'  or field.id_for_label == 'id_cycle_stopday' %}
                    <p>
                    {% endif %}
                        {{field.label_tag}}
                        {{field}}
                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                    </p>
                {% endif %}
                {% endfor %}
            </td>
            <td valign="top" width="33%">
                {% for field in form %}
                    {% if field.id_for_label == 'id_title' or  field.id_for_label == 'id_subject' %}
                    <p>
                        {{field.label_tag}}
                        {{field}}
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endfor %}
            </td>
            <td valign="top" width="34%">
                {% for field in form %}
                    {% if field.id_for_label == 'id_detail'  %}
                    <p>
                        {{field.label_tag}}
                        {{field}}
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% csrf_token %}
                <button type="submit">登録</button>
                <button type="reset" id="input_reset">取消</button>
            </td>
        </tr>
    </table> 
    <input type="checkbox" name="swap" id="id_swap" class="hide_elem" {{swapmode}}>
</form>
    {% if swapmode == 'checked' %}
    <table id="swapcalendar" class="" ></table>
    <table id="calendar" class="hide_elem">
    {% else %}
    <table id="swapcalendar" class="hide_elem" ></table>
    <table id="calendar" class="">
    {% endif %}
        <caption>
            <a href="{% url 'MonCal:all_pr_calendar' subject_type.pk %}">{{ subject.name }}</a>
            <br>{{ start_day }} - {{ end_day }}
        </caption>
        <thead>
            <tr class="headers_time">
                <td id="before">
                    {% if schedule %}
                        <a href="{% url 'MonCal:all_pr_edit' schedule.pk before.year before.month before.day %}"> 
                    {% else %}
                        <a href="{% url 'MonCal:all_pr_calendar' subject_type.pk before.year before.month before.day %}"> 
                    {% endif %}
                    前</a></td>
                <th class="date_col" id="headtime">{{ headtime }}</th>
                {% for time in input_times %}
                    {% if time in hour_list %}
                        {% for hour,span in hour_list.items %}
                            {% if time == hour %}
                            <th class="{{time| date:'H:i'}} headers_time" colspan='{{span}}'>{{ hour.hour }}</th>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <th class="{{time| date:'H:i'}} hide_elem"></th>
                    {% endif %}
                {% endfor %}
                <th class="{{tailtime| date:'H:i'}} date_col" id="tailtime">{{tailtime| date:'H:i'}}</th>
                <td id="next">
                    {% if schedule %}
                        <a href="{% url 'MonCal:all_pr_edit' schedule.pk next.year next.month next.day %}">
                    {% else %}
                        <a href="{% url 'MonCal:all_pr_calendar' subject_type.pk next.year next.month next.day %}">
                    {% endif %}
                    次</a>
                </td>
            </tr>
        </thead>
        <tbody>            
            {% for day in days  %}
                {% if day in workingday_list and day.weekday < 5 or day  not in workingday_list and day.weekday >= 5 %}
                {% else %}
                {% for subject,calendar in calender_dic.items  %}
                    <tr class="{{day| date:'Y-m-d'}} input_caltr">
                        {% if forloop.first  %}
                        <th rowspan="{{datespan}}" class="date_col">
                            {{ day| date:"d(D)" }}
                        </th>
                        {% else %}
                        <td class =" hide_elem"></td>
                        {% endif %}
                        <th class="sub_name_cell">
                            {% if schedule %}
                                {{subject}}
                            {% else %}
                                <a href="{% url 'MonCal:calendar' subject.pk %}">{{subject}}</a>
                            {% endif %}
                        </th>
                        {% for  date, sche_row in calendar.items %}
                        {% if day == date %}
                            {% for time,book in sche_row.items %}
                            {% if book == 'Nothing' %}
                                {% if time in hour_list %}
                                    <td class="choice_cell scale_time"></td>
                                {% else %}
                                    <td class="choice_cell"></td>
                                {% endif %}
                            {% elif book == 'same' %}
                                <td class ="hide_elem"></td>
                            {% else %}
                                <td class="sche_box" colspan='{{book.col_span}}'>
                                    <a href="{% url 'MonCal:Property_detail' book.schedule.pk %}">
                                    {{book.schedule.title}} 
                                    </a>
                                </td>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                        <th class="sub_name_cell">
                            {% if schedule %}
                                {{subject}}
                            {% else %}
                                <a href="{% url 'MonCal:calendar' subject.pk %}">{{subject}}</a>
                            {% endif %}
                        </th>
                        {% if forloop.first  %}
                        <th rowspan="{{datespan}}" class="date_col">
                            {{ day| date:"d(D)" }}
                        </th>
                        {% else %}
                        <td class =" hide_elem"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% endfor %}
            
        </tbody>
    </table>


    {% if schedule %}
        <span id="schedule_data">
            <p id="sche_subject">{{schedule.subject_name}}</p>
            <p id="sche_date">{{schedule.date| date:'Y-m-d'}}</p>
            <p id="sche_start">{{schedule.starttime| date:'H:i'}}</p>
            <p id="sche_end">{{schedule.endtime| date:'H:i'}}</p>
        </span>
    {% endif %}
{% endblock %}