<!DOCTYPE html>
{% load static %}
<html lang="ja">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>平成共有予約サイト</title>
    <script>
        function date_Normalization(date){
            const datearr=date.replace(/(年|月)/g, '-').replace('日', '').split('-');
            for(let step=1;step<datearr.length;step++){
                if(datearr[step].length==1){datearr[step]='0'+ datearr[step];}
                datearr[0]=datearr[0]+'-' + datearr[step];
            }
            return datearr[0]
        }
        function time_Normalization(time){
            var timearr=time.split(':');
            if(timearr.length<3){timearr=(time+':00').split(':')}
            if(timearr[0].length==1){timearr[0]='0'+ timearr[0];}
            for(let step=1;step<timearr.length;step++){
                if(timearr[step].length==1){timearr[step]='0'+ timearr[step];}
                timearr[0]=timearr[0]+':' + timearr[step];
            }
            return timearr[0]
        }
        function outputtext(id,time){
            var time_p = document.getElementById(id);
            var text=time_p.innerText.split(":");
            time_p.innerHTML=text[0] +":"+ time;
        }
        function reset_timeform(){
            var selectcells=document.querySelectorAll(".selecttime");
            var cellsnum=selectcells.length
            for(let step=0;step < cellsnum;step++){
                    selectcells[step].className=""; 
            }
            outputtext("s_timetext","0");
            outputtext("e_timetext","0");
        }
        function select_patterns(td,nextclass,beforeclass,s_time,e_time){
            const starttime  = document.getElementById("id_starttime");
            const endtime    = document.getElementById("id_endtime");
            var selectcells=document.getElementsByClassName("selecttime");
            if (selectcells.length==0){
                console.log("条件1");
                starttime.value = s_time;
                endtime.value = e_time;
                outputtext("s_timetext",s_time);
                outputtext("e_timetext",e_time);
                td.className="selecttime";
            }else if(selectcells.length==1 && td.className =="selecttime"){
                console.log("条件2");
                starttime.value = "0";
                endtime.value = "0";
                outputtext("s_timetext","0");
                outputtext("e_timetext","0");
                td.className="";
            }else if(nextclass && !(beforeclass) ){
                console.log("条件3");
                if(td.className =="selecttime"){
                    starttime.value = e_time;
                    outputtext("s_timetext",e_time);
                    td.className="";
                }else{
                    starttime.value = s_time;
                    outputtext("s_timetext",s_time);
                    td.className="selecttime";
                }
            }else if(!(nextclass) && beforeclass){
                console.log("条件4");
                if(td.className =="selecttime"){
                    endtime.value = s_time;
                    outputtext("e_timetext",s_time);
                    td.className="";
                }else{
                    endtime.value = e_time;
                    outputtext("e_timetext",e_time);
                    td.className="selecttime";
                }
            }else{
                console.log("条件6");
                reset_timeform()
                starttime.value = s_time;
                endtime.value = e_time;
                outputtext("s_timetext",s_time);
                outputtext("e_timetext",e_time);
                td.className="selecttime";
            }
        }
        function monthcheck(date,calendar){
            const date_month=date.substr(0,7);
            const caption=calender.caption.innerHTML.split('<br>');
            const days=caption[1].split(' - ');
            var moncheck=false;
            for(let step=0;step<days.length;step++){
                var month=days[step].replace('年', '-').replace('月', ' ').split(' ');
                if(month[0]==date_month || month[0].replace('-', '-0')==date_month){moncheck=true;}
            }
        return moncheck
        }

        
        function indate(dateV){
            let newdateV = date_Normalization(dateV);
            var Myelement = document.getElementById("id_date");
            Myelement.value = newdateV;
        }
        function intime(td,date,tailtime){
            const column = td.cellIndex;
	        const tr = td.parentNode;
	        const row = tr.sectionRowIndex+1;
            const Mycalender = document.getElementById("calender");
            const row_tail   = Mycalender.rows.length;
            indate(date);
            var s_time       = Mycalender.rows[row].cells[0].innerText;
            s_time=time_Normalization(s_time);
            if (row_tail == row+1){
                var e_time=time_Normalization(tailtime);
                var underclass =false;
            }else{
                var e_time=time_Normalization(Mycalender.rows[row+1].cells[0].innerText);
                var undercell =Mycalender.rows[row+1].cells[column];
                var underclass= undercell.className =="selecttime";
            }
            var overclass=Mycalender.rows[row-1].cells[column].className =="selecttime";
            console.log("underclass:"+underclass);
            console.log("overclass:"+overclass);
            if(underclass && overclass){
                console.log("条件5");
                for(let step=row;step < row_tail;step++){
                    Mycalender.rows[step].cells[column].className=""
                }
                const endtime = document.getElementById("id_endtime");
                endtime.value = e_time;
                outputtext("e_timetext",e_time);
                td.className="selecttime";
            }else{select_patterns(td,underclass,overclass,s_time,e_time)}
        }
        function pr_timematch(calender,time){
            var setrow=0;
            for(let step=2;step<calender.rows.length;step++){
                var cal_value=calender.rows[step].cells[0].innerText;
                cal_value=time_Normalization(cal_value);               
                if(cal_value==time){setrow=step;}
            }   
            if(setrow==0){setrow=calender.rows.length-1}
            return setrow;
        }
        function pr_set_selecttime(day,start,end){
            const date=date_Normalization(day);
            const starttime=time_Normalization(start)
            const endtime=time_Normalization(end)
            const calender=document.getElementById("calender");
            const form_date_Value=date.substr(8,2);
            outputtext("s_timetext",starttime);
            outputtext("e_timetext",endtime);
            if(monthcheck(date,calender)){
                var set_startrow=pr_timematch(calender,starttime);
                var set_endrow=pr_timematch(calender,endtime)-1;
                var setcol =0;
                for(let step=0;step<calender.tHead.rows[0].cells.length;step++){
                    var date_th=calender.tHead.rows[0].cells[step];
                    var th_Value=date_th.innerText;
                    if(th_Value.indexOf("稼働",0)){
                        th_Value=th_Value.substr(0,2);
                    }else{
                        th_Value=th_Value.split("\n");
                        th_Value=th_Value[1].substr(0,2);
                        }
                    if(form_date_Value==th_Value){setcol=step;}
                }
                if (!(setcol==0)){
                    for(let step=set_startrow;step<=set_endrow;step++){
                        calender.rows[step].cells[setcol].className="selecttime";
                    }
                }
            }
        }
        
        function ev_intime(td,date,tailtime){
            const column = td.cellIndex;
	        const tr = td.parentNode;
	        const row = tr.sectionRowIndex;
            const Mycalender = document.getElementById("calender");
            const cal_tail   = Mycalender.tHead.rows[0].cells.length;
            indate(date);
            var s_time       = Mycalender.tHead.rows[0].cells[column].innerText;
            s_time=time_Normalization(s_time);
            if (cal_tail == column+1){
                var e_time=time_Normalization(tailtime);
                var rightclass =false;
            }else{
                var e_time=time_Normalization(Mycalender.tHead.rows[0].cells[column+1].innerText);
                var rightcell =Mycalender.rows[row+1].cells[column+1];
                var rightclass= rightcell.className =="selecttime";
            }
            var leftclass=Mycalender.rows[row+1].cells[column-1].className =="selecttime";
            console.log("rightclass:"+rightclass);
            console.log("leftclass:"+leftclass);
            var selectcells=document.getElementsByClassName("selecttime");
            if(rightclass && leftclass){
                console.log("条件5");
                for(let step=column;step < cal_tail;step++){
                    Mycalender.rows[row+1].cells[step].className=""
                }
                const endtime    = document.getElementById("id_endtime");
                endtime.value = e_time;
                outputtext("e_timetext",e_time);
                td.className="selecttime";
            }else{select_patterns(td,rightclass,leftclass,s_time,e_time)}
        }
        function ev_timematch(calender,time){
            var setcol=0;
            for(let step=2;step<calender.tHead.rows[0].cells.length;step++){
                var cal_value=calender.tHead.rows[0].cells[step].innerText;
                cal_value=time_Normalization(cal_value);                
                if(cal_value==time){setcol=step;}
            }   
            if(setcol==0){setcol=calender.tHead.rows[0].cells.length-1}
            return setcol;
        }
        function ev_set_selecttime(day,start,end){
            const date=date_Normalization(day);
            const starttime=time_Normalization(start)
            const endtime=time_Normalization(end)
            const calender=document.getElementById("calender");
            const form_date_Value=date.substr(8,2);
            outputtext("s_timetext",starttime);
            outputtext("e_timetext",endtime);
            if(monthcheck(date,calender)){
                var set_startcol=ev_timematch(calender,starttime);
                var set_endcol=ev_timematch(calender,endtime)-1;
                var setrow =0;
                for(let step=0;3*step+1<calender.rows.length;step++){
                    var th_Value=calender.rows[3*step+1].cells[0].innerText.substr(0,2);
                    if(form_date_Value==th_Value){setrow=3*step+1;}
                }
                if (!(setrow==0)){
                    for(let step=set_startcol;step<=set_endcol;step++){
                        calender.rows[setrow].cells[step].className="selecttime";
                    }
                }
            }
        }
    </script>
    <style>
        li {
            font-size: large;
        }
        body {
            width: 960px;
            margin: 0 auto;
            padding-top: 50px;
            font-size: medium;
        }

        nav > a {
            margin-right: 10px;
        }
        .selecttime{
        background-color: #00bfff;
        }
        .timeform{ 
            display: none;  
        }
        .eventcal-tr{
            height: 20px;
            font-size:14px
        }
    </style>
</head>

<body>
    <nav>
        <a href="{% url 'MonCal:home_page' %}">ホーム</a>
        {% if user.is_authenticated %}
            <a href="{% url 'MonCal:logout' %}">ログアウト</a>
        {% else %}
            <a href="{% url 'MonCal:login' %}">ログイン</a>
        {% endif %}
    </nav>
    {% for message in messages %}
        <p> {{ message }}</p>
    {% endfor %}
    
    {% block content %}{% endblock %}
    
</body>
</html>