{% extends 'MonCal/base.html' %}

{% block content %}

    <h1><a href="{% url 'MonCal:calendar' subject.pk %}">{{ subject.name }}</a></h1>
    
    <p>{{ start_day }} - {{ end_day }}</p>
    <table  width="60%" hight="100%" border="1"  align="left">
        <tr>
            <td><a href="{% url 'MonCal:calendar' subject.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
                {% if day.weekday == 5 %}
                    <th ><div style="color: blue;" onclick="indate('{{ day }}')">{{ day | date:"d(D)" }}</div></th>
                {% elif day.weekday == 6 %}
                    <th><div style="color: red;"  onclick="indate('{{ day }}')">{{ day | date:"d(D)" }}</div></th>
                {% else %}
                    <th><div onclick="indate('{{ day }}')">{{ day | date:"d(D)" }}</div></th>
                {% endif %}
            {% endfor %}
            <td><a href="{% url 'MonCal:calendar' subject.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for time, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ time }}
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt < today %}
                            -
                        {% elif book == 'Nothing' %}
                        
                        {% elif book == 'same' %}
                            ↓↓
                        {% else %}
                        <a href="{% url 'MonCal:Event_detail' book.pk %}">{{book.title}}</a>
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ time }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">送信</button>
    </form>
    <br clear="left">
{% endblock %}