{% extends 'MonCal/base.html' %}

{% block content %}
<h1>新規登録</h1>
<h2><a href="{% url 'MonCal:property_list' subject.pk %}">スケジュール一覧へ</a></h2>
    <table  width="60%" hight="100%" border="1"  align="left" style="border-collapse: collapse">
        <caption><a href="{% url 'MonCal:calendar' subject.pk %}">{{ subject.name }}</a>
            <p>{{ start_day }} - {{ end_day }}</p></caption>
        <tr>
            <td><a href="{% url 'MonCal:calendar' subject.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
              <th >
              {% if day.weekday == 5 %}
                <div  type="button" style="color: blue;" >
              {% elif day.weekday == 6 %}
                <div  type="button" style="color: red;" >
              {% else %}
                <div  type="button" >
              {% endif %}
              {{ day | date:"d(D)" }}　</div></th>
            {% endfor %}
            <td><a href="{% url 'MonCal:calendar' subject.pk next.year next.month next.day %}">次週</a></td>
        </tr>
        {% for time, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ time }}
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if book == 'Nothing' %}
                        <button type="button" onclick="intime('{{dt}}','{{time}}')">空き</button>
                        {% elif book == 'same' %}
                            ↓↓
                        {% else %}
                            <a href="{% url 'MonCal:Property_detail' subject.pk book.pk %}">{{book.title}}</a>
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ time }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br><br><br>
    <form action="" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">登録</button>
        <button type="reset">取消</button>
    </form>
    <br clear="left">
{% endblock %}