{% extends 'MonCal/base.html' %}
{% block content %}
    <h2><a href="{% url 'MonCal:eventcalendar' %}">行事予約ページへ</a></h2>
    <h2><a href="{% url 'MonCal:event_list' %}">スケジュール一覧へ</a></h2>
    <h1>{{ schedule.title }}の詳細</h1>
    <table frame="void">
        <tr>
        <td><button  type="button" ><a href="{% url 'MonCal:Event_edit'  schedule.pk %}">編集</a></button></td>
        <td>
            <form action="{% url 'MonCal:Event_delete' schedule.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" style="color: red;" onclick="return confirm('削除しますか?')">削除</button>
            </form>
        </td>
        </tr>
    </table>
    
    
    <p><div>時間：{{ schedule.date }}{{ schedule.starttime }} ~{{ schedule.endtime }}</div></p>
    <p>場所：
        {% for place in schedule.place.all %}
                {{place}}
        {% endfor %}
    </p>
    <p>設備予約：
        {% for room in schedule.room.all %}
            {{room}}
        {% empty %}
            予約はありません
        {% endfor %}
    </p>
    <p>内容</p>
        <div>{{ schedule.detail|linebreaksbr  }}</div>
{% endblock %}