{% extends 'MonCal/base.html' %}
{% block content %}
<article>
  <h1>内容の変更</h1>
  <h2>対象:{{event.subject_name}}</h2>
  <p>{{ start_day }} - {{ end_day }}</p>
    <table  width="60%" hight="100%" border="1"  align="left">
        <tr>
            <td><a href="{% url 'MonCal:Event_edit' event.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
              {% if day.weekday == 5 %}
                <th ><button style="color: blue;" name={{ day }}  onclick="indate(name)">{{ day | date:"d(D)" }}</button></th>
              {% elif day.weekday == 6 %}
                <th><button style="color: red;" name={{ day }}  onclick="indate(name)">{{ day | date:"d(D)" }}</button></th>
              {% else %}
                <th><button name={{ day }}  onclick="indate(name)">{{ day | date:"d(D)" }}</button></th>
              {% endif %}
            {% endfor %}
            <td><a href="{% url 'MonCal:Event_edit' event.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for time, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ time }}
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt < today %}
                            -
                        {% elif book == 'Nothing' %}
                        
                        {% elif book == 'same' %}
                            ↓↓
                        {% else %}
                        <a href="{% url 'MonCal:Event_detail' book.pk %}">{{book.title}}</a>
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ time }}
                </td>
            </tr>
        {% endfor %}
    </table>
  <div class="mt-3">
    <form method="POST">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group">
          <label>{{ field.label }}</label>
          {{ field }}
          {{ field.errors }}
          {{ field.help_text }}
        </div>
      {% endfor %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="更新" />
    </form>
  </div>
</article>
{% endblock %}