{% extends 'MonCal/base.html' %}

{% block content %}
    <h1>直近の行事予定</h1>
    <h2><a href="{% url 'MonCal:eventcalendar'%}">行事の予約ページへ</a></h2>

    <select name="filter_select" id="filter_select">
        <option value="全て">全て</option>
        <option value="本社">本社</option>
        <option value="岡崎">岡崎</option>
    </select>
    <div id="fixed_detail" class="hide_elem">
        <button type="button" class="close_x" >X</button>
        <span id="title"></span>
        <div id="detail"></div> 
    </div>
    <table  id="schedule_list">
        <thead>
            <tr>
                <th width="30%">日時</th><th>予定</th>
                {% for place in place_list %}
                    <th width="5%">{{place}}</th>
                {% endfor %}
                <th width="15%">施設</th><th>繰り返し</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in all_schedule %}
            <tr class="schedule">
                <td class="hide_elem">
                    内容<br>
                    {{ schedule.1.detail|linebreaksbr }}
                </td>
                <td>{{ schedule.0 |date:"Y年m月d日" }}{{ schedule.1.starttime }}~{{ schedule.1.endtime }}</td>
                <td>
                    {% if schedule.1.cycle_type.code == "nocycle" %}
                        <a href="{% url 'MonCal:Event_detail' schedule.1.pk %}">
                    {% else %}
                        <a href="{% url 'MonCal:event_cycle_edit' schedule.1.pk schedule.0.year schedule.0.month schedule.0.day %}">
                    {% endif %}
                    {{ schedule.1.title }}</a>
                </td>
                {% for place in place_list %}
                    {% if place in schedule.1.place.all %}
                    <td>〇</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% endfor %}
                <td>
                    {% for room_sche in schedule.1.room.all %}
                        {{room_sche}}　
                    {% endfor %}
                </td>
                <td>
                    {% if schedule.1.cycle_type.code == 'week' %}
                        毎週{{schedule.0 | date:"D" }}曜日
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>{{year}}年の行事予定</h1>
    <h3 style="float:left;"><a href="{% url 'MonCal:event_list' before %}">{{before}}年の行事予定へ</a></h3>
    <h3 style="float:right;"><a href="{% url 'MonCal:event_list' next %}">{{next}}年の行事予定へ</a></h3>
    <table  id="schedule_data">
        <tbody>
            {% for month,month_list in year_schedule.items  %}
            <tr>
                <th rowspan="2">{{month}} </th>
                {% for schedule in month_list  %}
                <td>{{schedule.0 | date:"m月d日"}} {{schedule.1.starttime}}~{{schedule.1.endtime}}</td> 
                {% endfor %}
            </tr>
            <tr>
                <th class="hide_elem"></th>
                {% for schedule in month_list  %}
                <td>
                    {% if schedule.1.cycle_type.code == "nocycle" %}
                        <a href="{% url 'MonCal:Event_detail' schedule.1.pk %}">
                    {% else %}
                        <a href="{% url 'MonCal:event_cycle_edit' schedule.1.pk schedule.0.year schedule.0.month schedule.0.day %}">
                    {% endif %}
                    {{schedule.1.title}}</a>
                    <span class="hide_elem">
                        {% for place in schedule.1.place.all %}
                            <br>
                            {{place}}
                        {% endfor %}
                    </span>
                </td> 
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br style="clear: both;">
    <table  class="year_schedule first" ></table>
    <br>
    <table  class="year_schedule second" ></table>
    <br>
    <table  class="year_schedule third" ></table>
{% endblock %}