{% extends 'MonCal/base.html' %}

{% block content %}

<div style="float:left;" >
{% if schedule %}
    <h2>{{schedule.title}} 内容編集</h2>
    <h3><a href="{% url 'MonCal:Event_detail' schedule.pk %}">スケジュール詳細へ戻る</a></h3>
{% else %}
    <h2>行事新規登録</h2>
    <h3><a href="{% url 'MonCal:event_list' %}">スケジュール一覧へ</a></h3>
{% endif %}
<button type="button" id="swap_button">縦横切り替え</button>
</div>
<table  id="monthcalendar" >
    <thead>
        <tr>
            <th id ="MCbeforemonth">先月</th>
            <th id="moncal_cap" colspan="5">{{firstday.year}}年{{firstday.month}}月 </th>
            <th id ="MCnextmonth">来月</th>
        </tr>
        <tr class="MCheader">
            <th >月</th>
            <th >火</th> 
            <th >水</th> 
            <th >木</th> 
            <th >金</th> 
            <th class="saturday">土</th> 
            <th class="sunday">日</th>
        </tr>
    </thead>
    <tbody>
    {% for weekdays in day_list %}
    <tr>
        {% for day in weekdays %}
            {% if day == 0 %}
                <td></td>
            {% else %}
                {% if day == start_day.day and firstday.month == start_day.month and firstday.year == start_day.year  %}
                    <td class="base_date">
                {% else %}
                    <td>
                {% endif %}
                {% if schedule %}
                    <a href="{% url 'MonCal:Event_edit' schedule.pk firstday.year firstday.month day %}"> 
                {% else %}
                    <a href="{% url 'MonCal:eventcalendar'  firstday.year firstday.month day %}"> 
                {% endif %}
                {{day}}</a></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
<br class="flout_stop">
<form   method="POST" id="fixed_form" class="hide_elem">
    <button type="button" class="close_x" >X</button>
    <table id="form_table" >
        <tr valign="top">
            <td width="300px" >
                {% for field in form %}
                {% if field.id_for_label == 'id_starttime' or field.id_for_label == 'id_endtime' or field.id_for_label == 'id_date' or field.id_for_label == 'id_cycle_type' or field.id_for_label == 'id_cycle_stopday' %}

                    {% if field.id_for_label == 'id_starttime' %}
                        <p>
                            <button type="button" id="start_up" >△</button>
                            <button type="button" id="start_down" >▽</button>
                            <span id ="s_timetext">{{field.label}}:</span>
                        </p>
                        <p class ="hide_elem">
                    {% elif field.id_for_label == 'id_endtime' %}
                        <p>
                            <button type="button" id="end_up" >△</button>
                            <button type="button" id="end_down" >▽</button>
                            <span id ="e_timetext">{{field.label}}:</span>
                        </p>
                        <p class ="hide_elem" >
                    {% elif  field.id_for_label == 'id_date' or field.id_for_label == 'id_cycle_type' %}
                    <p>
                    {% endif %}
                        {{field.label_tag}}
                        {{field}}
                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                    </p>
                {% endif %}
                {% endfor %}
            </td>
            
                {% for field in form %}
                    {% if field.label == '場所' %}
                        {% for choice in field %}
                        <td width="120px">
                            {% if forloop.first %}
                            {{field.label_tag}} 
                            {% endif %}
                            <br>{{choice}} 
                            {% for place,rooms in room_dic.items %}
                                {% if choice.choice_label == place %}
                                    <ul id="place_room_{{rooms.1}}" style="display: none;">
                                    {% for room in rooms.0 %}
                                    <li><input type="checkbox" name="room" value="{{room.pk}}" class="place_room_{{rooms.1}}" id="{{room.id}}"
                                        {% if schedule and room.room in schedule.room.all %}
                                        checked
                                        {% endif %}>{{room.room.name}}
                                    </li> 
                                    {% endfor %} 
                                    </ul>
                                {% endif %}
                            {% endfor %} 
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            
            <td >
                {% for field in form %}
                    {% if field.id_for_label == 'id_title' or field.id_for_label == 'id_detail' or field.id_for_label == 'id_swap_mode' %}
                    <p>
                        {{field.label_tag}}
                        {{field}}
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% csrf_token %}
                <button type="submit">
                {% if schedule %}
                    更新
                {% else %}
                    登録
                {% endif %}
                </button>
                <button type="reset" id="input_reset">
                    取消
                </button>
            </td>
        </tr>
    </table> 
    <input type="checkbox" name="swap" id="id_swap" class="hide_elem" {{swapmode}}>
</form>
    {% if swapmode == 'checked' %}
    <table id="swapcalendar" class="" ></table>
    <table id="calendar" class="hide_elem">
    {% else %}
    <table id="swapcalendar" class="hide_elem" ></table>
    <table id="calendar" class="">
    {% endif %}
    
        <caption>
            {% if schedule %}
            <a href="{% url 'MonCal:Event_edit' schedule.pk %}">行事予定編集
            {% else %}
            <a href="{% url 'MonCal:eventcalendar'%}">行事新規登録
            {% endif %}
            </a>
            <br>
            {{ start_day }} - {{ end_day }}
        </caption>
        <thead>
            <tr>
                <th class="{{headtime| date:'H:i'}} headers_time" id="headtime">
                    {% if schedule %}
                        <a href="{% url 'MonCal:Event_edit' schedule.pk before.year before.month before.day %}">
                    {% else %}
                        <a href="{% url 'MonCal:eventcalendar' before.year before.month before.day %}">
                    {% endif %}
                    前週</a><br>{{ headtime }}
                </th>
                {% for time in input_times %}
                    {% if time in hour_list %}
                        {% for hour,span in hour_list.items %}
                            {% if time == hour %}
                            <th class="{{time| date:'H:i'}} headers_time" colspan='{{span}}'>{{ hour.hour }}</th>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <th class="{{time| date:'H:i'}} hide_elem"></th>
                    {% endif %}
                {% endfor %}

                <th class="{{tailtime| date:'H:i'}} headers_time" id="tailtime">
                    {% if schedule %}
                        <a href="{% url 'MonCal:Event_edit' schedule.pk next.year next.month next.day %}">
                    {% else %}
                        <a href="{% url 'MonCal:eventcalendar' next.year next.month next.day %}">
                    {% endif %}
                    次週</a><br>{{tailtime}}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for day, shcelist in calendar.items %}
            <tr class="{{day| date:'Y-m-d'}} input_caltr">
                <th rowspan="{{shcelist.date_span}}"  hight="14" class="date_col">
                    {{ day| date:"d(D)" }}
                </th>
                {% for time in input_times %}
                    {% if time in hour_list %}
                        <td class="choice_cell scale_time"></td>
                    {% else %}
                        <td class="choice_cell"></td>
                    {% endif %} 
                {% endfor %}   
                <th rowspan="{{shcelist.date_span}}" class="date_col">{{ day| date:"d(D)" }}</th>
            </tr>
            {% for shce in shcelist.shce_list %}
            <tr class="cal_sche_row input_caltr" >
                <td class="date_col hide_elem"></td>
                {% for time, book in shce.items %}
                    {% if book == 'Nothing' %}
                        {% if time in hour_list %}
                            <td class="scale_time"></td>
                        {% else %}
                            <td class=""></td>
                        {% endif %} 
                    {% elif book == 'same' %}
                        <td class ="hide_elem"></td>
                    {% else %}
                        <td class="sche_box" colspan='{{book.col_span}}'>  
                        {% if book.schedule.cycle_type.code != 'nocycle' %}
                            <a href="{% url 'MonCal:event_cycle_edit' book.schedule.pk day.year day.month day.day %}">
                        {% else %}
                            <a href="{% url 'MonCal:Event_detail' book.schedule.pk %}">
                        {% endif %}
                            {{book.schedule.title}}<br>
                            {% for place in book.schedule.place.all %}
                                {% if forloop.first %}
                                {% else %}
                                    <br>
                                {% endif %}
                                    {{place}}
                                {% for room in book.schedule.room.all %}
                                    {% if room.place == place %}
                                        {{room.name}}
                                    {% endif %}
                                {% empty %}
                                    なし
                                {% endfor %}
                            {% endfor %}
                            </a>
                        </td>
                    {% endif %}
                {% endfor %} 
                <td class="date_col hide_elem"></td>
            </tr>
            {% endfor %} 
        {% endfor %}
        </tbody>
    </table>
   

    {% if schedule %}
        <span id="schedule_data">
            <p id="sche_date">{{schedule.date| date:'Y-m-d'}}</p>
            <p id="sche_start">{{schedule.starttime| date:'H:i'}}</p>
            <p id="sche_end">{{schedule.endtime| date:'H:i'}}</p>
        </span>
    {% endif %}
{% endblock %}