{% extends 'MonCal/base.html' %}

{% block content %}
<script>
    window.onload = function(){
        const date=document.getElementById("id_date").value;
        const starttime = document.getElementById("id_starttime").value;
        const endtime = document.getElementById("id_endtime").value;        
        ev_set_selecttime(date,starttime,endtime);
    }
    function edit_reset_timeform(day,start,end){
        reset_timeform();
        ev_set_selecttime(day,start,end);
    }
</script>

<h2>{{schedule.title}} 内容編集</h2>
<h3><a href="{% url 'MonCal:Event_detail' schedule.pk %}">スケジュール詳細へ戻る</a></h3>
    <table  border="1" style="border-collapse: collapse"  id="calender" >
        <caption >
            <a href="{% url 'MonCal:Event_edit' schedule.pk %}">行事登録</a>
            <br>{{ start_day }} - {{ end_day }}
        </caption>
        <thead>
            <tr style="font-size:14px">
                <th width="7%">
                    <a href="{% url 'MonCal:Event_edit' schedule.pk before.year before.month before.day %}">前週</a>
                    <br>
                    <a href="{% url 'MonCal:Event_edit' schedule.pk next.year next.month next.day %}">次週</a>
                </th>
                {% for time in times %}
                <th >{{ time }}</th>
                {% endfor %}
                <th >{{tailtime}}</th>
            </tr>
        </thead>
        <tbody>
        {% for day, shcelist in calendar.items %}
            <tr class="eventcal-tr" >
                <th rowspan="{{shcelist.date_span}}" hight="14">
                    {% if day in workingday_list %}
                        {% if day.weekday < 5 %}
                        <div style="color: green;" >非稼働日<br>
                        {% else %}
                        <div>稼働日<br>
                        {% endif %}
                    {% elif day.weekday == 5 %}
                        <div style="color: blue;" >
                    {% elif day.weekday == 6 %}
                        <div style="color: red;" >
                    {% else %}
                        <div>
                    {% endif %}
                    {{ day| date:"d(D)" }}</div>
                </th>
                {% if day.weekday >= 5 and day not in workingday_list or day.weekday < 5 and day in workingday_list %}
                    {% for time in times %}
                    <td bgcolor="#d3d3d3" ></td>
                    {% endfor %} 
                {% else %}
                    {% for time in times %}
                    <td  bgcolor="#d9e5ff" onclick="ev_intime(this,'{{day}}','{{tailtime}}')" class=""></td>
                    {% endfor %}   
                {% endif %}
                <th rowspan="{{shcelist.date_span}}">
                    {% if day in workingday_list %}
                        {% if day.weekday < 5 %}
                        <div style="color: green;" >非稼働日<br>
                        {% else %}
                        <div>稼働日<br>
                        {% endif %}
                    {% elif day.weekday == 5 %}
                        <div style="color: blue;" >
                    {% elif day.weekday == 6 %}
                        <div style="color: red;" >
                    {% else %}
                        <div>
                    {% endif %}
                    {{ day| date:"d(D)" }}</div>
                </th>
            </tr>
            {% for shce in shcelist.shce_list %}
                <tr style="font-size:12px">
                    {% if day.weekday >= 5 and day not in workingday_list or day.weekday < 5 and day in workingday_list %}
                        {% for time, book in shce.items %}
                        <td bgcolor="#d3d3d3"><br></td>
                        {% endfor %} 
                    {% else %}
                        {% for time, book in shce.items %}
                            {% if book == 'Nothing' %}
                                <td></td>
                            {% elif book == 'same' %}
                            {% else %}
                                <td bgcolor="#d3d3d3" colspan='{{book.col_span}}'><a href="">
                                    {{book.schedule.title}} 
                                    {% for place in book.schedule.place.all %}
                                        {{place}}
                                    {% endfor %}
                                    <br>使用施設
                                    {% for room in book.schedule.room.all %}
                                        {{room}}
                                    {% empty %}
                                        なし
                                    {% endfor %}
                                </a></td>
                            {% endif %}
                        {% endfor %} 
                    {% endif %}
                </tr>
            {% endfor %} 
        {% endfor %}
        </tbody>
    </table>
    
    <form action="" method="POST">
        <table border="0" width="90%">
            <tr>
                <td valign="top">
                    {% for field in form %}
                    {% if field.id_for_label == 'id_starttime' or field.id_for_label == 'id_endtime' or field.id_for_label == 'id_date'  or field.id_for_label == 'id_cycle_type' or field.id_for_label == 'id_cycle_stopday' %}
                        {% if field.id_for_label == 'id_starttime' %}
                            <p id ="s_timetext">{{field.label}}:</p>
                            <p class ="timeform">
                        {% elif field.id_for_label == 'id_endtime' %}
                            <p id ="e_timetext">{{field.label}}:</p>
                            <p class ="timeform" >
                        {% elif  field.id_for_label == 'id_date' or field.id_for_label == 'id_cycle_type' or field.id_for_label == 'id_cycle_stopday' %}
                            <p>
                        {% endif %}
                            {{field.label_tag}}
                            {{field}}
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                        </p>
                    {% endif %}
                    {% endfor %}
                </td>
                <td valign="top">
                    {% for field in form %}
                        {% if field.label == '設備' or field.label == '場所' %}
                            <p>
                            {{field.label_tag}}
                            {% for choice in field %}
                                {{ choice.choice_label }}
                                {{ choice.tag }}
                            {% endfor %}
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                            </p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td valign="top">
                    {% for field in form %}
                        {% if field.id_for_label == 'id_title' or field.id_for_label == 'id_detail' %}
                        <p>
                            {{field.label_tag}}
                            {{field}}
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                        </p>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table> 
        {% csrf_token %}
        <button type="submit">更新</button>
        <button type="reset" onclick="edit_reset_timeform('{{schedule.date}}','{{schedule.starttime}}','{{schedule.endtime}}')">取消</button>
    </form>
    
{% endblock %}