{% extends 'MonCal/base.html' %}

{% block content %}

<h2>{{event.name}} 新規登録</h2>
<h2><a href="{% url 'MonCal:event_list' event.pk %}">スケジュール一覧へ</a></h2>
    <table  border="1" style="border-collapse: collapse" id="calender">
        <caption>
            <a href="{% url 'MonCal:eventcalendar' event.pk %}">行事登録</a>
            <br>{{ start_day }} - {{ end_day }}
        </caption>
        <thead>
            <tr style="font-size:14px">
                <th width="7%"><a href="{% url 'MonCal:eventcalendar' event.pk before.year before.month before.day %}">前週</a></th>
                <th width="7%"><a href="{% url 'MonCal:eventcalendar' event.pk next.year next.month next.day %}">次週</a></th>
                {% for time in times %}
                <th >{{ time }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for day, shcelist in calendar.items %}
            <tr style="font-size:12px">
                <th rowspan="{{rowspan}}">
                    {% if day.weekday == 5 %}
                        <div style="color: blue;" >
                    {% elif day.weekday == 6 %}
                        <div style="color: red;" >
                    {% else %}
                        <div>
                    {% endif %}
                    {{ day| date:"d(D)" }}</div>
                </th>
                <th >入力用</th>
                {% for time in times %}
                <td  bgcolor="#d9e5ff" onclick="ev_intime(this,'{{day}}','{{tailtime}}')" class=""></td>
                {% endfor %}   
            </tr>
            {% for subject, row in shcelist.items %}
            <tr style="font-size:12px">
                <th >{{subject.name}}</th>
                {% for time, book in row.items %}
                <td>
                    {% if book == 'Nothing' %}
                       
                    {% elif book == 'same' %}
                        ⇒⇒
                    {% else %}
                        <a href="{% url 'MonCal:Property_detail' subject.pk book.pk %}">{{book.title}}</a>
                    {% endif %}
                </td>
                {% endfor %} 
            </tr>
            {% endfor %} 
        {% endfor %}
        </tbody>
    </table>
    
    <form action="" method="POST">
        {% for field in form %}
            {% if field.id_for_label == 'id_starttime' %}
                <p id ="s_timetext">{{field.label}}:</p>
                <p class ="timeform">
            {% elif field.id_for_label == 'id_endtime' %}
                <p id ="e_timetext">{{field.label}}:</p>
                <p class ="timeform" >
            {% else %}
                <p>
            {% endif %}
            {{field.label_tag}}
            {{field}}
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>
        {% endfor %}
        {% csrf_token %}
        <button type="submit">登録</button>
        <button type="reset" onclick="reset_timeform()">取消</button>
    </form>
    
{% endblock %}