{% extends 'MonCal/base.html' %}
{% block content %}

    <h1>ホーム</h1>
    
        <h2>行事スケジュール</h2>
        <ul>
            <h3><a href="{% url 'MonCal:eventcalendar' %}">予約ページへ</a></h3>  
            <h3><a href="{% url 'MonCal:event_list' %}">スケジュール一覧へ</a></h3>  
        </ul>
           
        {% for subject_type,subjects in subject_list.items %}
            {% if subjects %}<h2>{{subject_type}}</h2>{% endif %}
            <li><a href="{% url 'MonCal:property_calendar' subject_type.pk %}">{{subject_type}}予約ページ</a></li>
            <li><a href="{% url 'MonCal:property_list' subject_type.pk %}">{{subject_type}}スケジュール一覧</a></li>
        {% empty %}
            <h3>登録がありません</h3>
        {% endfor %}    
        <h2><a href="{% url 'MonCal:Working_day_list' %}">稼働日・非稼働日設定</a></h2>    
{% endblock %}