{% extends 'MonCal/base.html' %}
{% block content %}
    <h1>{{ event.title }}の詳細</h1>
    <h2><a href="{% url 'MonCal:calendar' event.subject_name.pk %}">{{ event.subject_name  }}の予約ページへ</a></h2>
    <h2><a href="{% url 'MonCal:property_list' event.subject_name.pk %}">{{ event.subject_name }}のスケジュール一覧へ</a></h2>
    <table frame="void">
        <tr>
        <td><button  type="button" ><a href="{% url 'MonCal:Property_edit'  event.pk %}">編集</a></button></td>
        <td>
            <form action="{% url 'MonCal:Property_delete' event.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" style="color: red;" onclick="return confirm('削除しますか?')">削除</button>
            </form>
        </td>
        </tr>
    </table>
    
    <p><div>予約車：{{ event.subject_name }}</div></p>
    <p><div>時間：{{ event.date }}{{ event.starttime }} ~{{ event.endtime }}</div></p>

    
    <p>内容</p>
    <div>{{ event.detail|linebreaksbr  }}</div>
{% endblock %}